@model cltxmomo.Models.TopDay;

<form>
    <input hidden asp-for="Id" />

    <div class="form-group">
        <label class="form-label">Top</label>
        <input class="form-control" asp-for="Top" />
    </div>

    <div class="form-group">
        <label class="form-label">Số điện thoại</label>
        <input class="form-control" asp-for="PhoneNumber" />
    </div>

    <div class="form-group">
        <label class="form-label">Tiền đặt</label>
        <input class="form-control" asp-for="Money" />
    </div>

    <div class="form-group">
        <label class="form-label">Tiền thưởng</label>
        <input class="form-control" asp-for="Reward" />
    </div>


</form>