@model cltxmomo.Models.RechargePhoneNumber;

<form>
    <input hidden asp-for="Id" />

    <div class="form-group">
        <label class="form-label">Số điện thoại</label>
        <input class="form-control" asp-for="PhoneNumber" />
    </div>

    <div class="form-group">
        <label class="form-label">Tiền chuyển tối thiểu</label>
        <input class="form-control" asp-for="Min" />
    </div>

    <div class="form-group">
        <label class="form-label">Tiền chuyển tối đa</label>
        <input class="form-control" asp-for="Max" />
    </div>


</form>